h1{
    text-align: center;
    text-decoration: underline black;
}
.cent1{
    text-align: center;
}
table,th,td{
    border: 1px solid brown;
    width: 200px;
    height: 50px;
    margin:auto;
    margin-bottom: 20px;

}
img{
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.cent2{
    background-color: antiquewhite;
    padding: 20px;
    border: 2px solid black;
}
